/* ============== Do not delete this ========== */
/* Neema Peter STUID 77366*/
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }
header h1, header h2 { 
    font-family: 'Abril Fatface', serif; 
    letter-spacing: 1px;
}
/* Add your custom CSS below */